# Auto detect text files and perform LF normalization
* text=auto

*.bas       text    eol=crlf
*.cls       text    eol=crlf
*.frm       text    eol=crlf
*.frx       binary  eol=crlf
*.dcm       text    eol=crlf
*.vbaproj   text    eol=crlf

*.wsf       text    eol=crlf
*.bat       text    eol=crlf

*.cls linguist-language=VBA
*.dcm linguist-language=VBA
*.vbaproj linguist-language=INI

# file encoding
*.bas working-tree-encoding=cp932
*.dcm working-tree-encoding=cp932
*.frm working-tree-encoding=cp932

*.bas diff=cp932
*.dcm diff=cp932
*.frm diff=cp932

*.bas encoding=cp932
*.dcm encoding=cp932
*.frm encoding=cp932